.customOverlay {
  background: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 800px) {
  .customOverlay{
  background: black;
  }
}

.customModal {
  background: black;
  max-width: 550px;

  width: 100%;
  height: auto;
  border-radius: 10px;
  
}


@media screen and (max-width: 800px) {
  .customModal{
  background: black;
  }
}